<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3>Today's top news Tech Crunch</h3>
        <ul>
          <li ng-repeat='article in nCtl.articlesTech'>
          <img src='{{article.urlToImage}}' width="400" height="200"> <br>
          Title: {{article.title}} <br> Description: {{article.description}} <br> <a href='{{article.url}}'>READ MORE</a> <br>  <br>

          </li>
        </ul>
    </div>

<!-- </div> -->

<!-- <div class="container"> -->

    <div class="col-md-6">
      <h3>Today's top news from Hacker News</h3>
      <br>
      <br>
        <ul>
          <li ng-repeat='article in nCtl.articlesTech2'><a href='{{article.url}}'>
            {{article.title}}
          <img src='{{article.urlToImage}}' width="400" height="200"> <br>
           <br>{{article.description}} <br></a> <br>  <br>

          </li>
        </ul>
    </div>
  </div>

<div class="row">
  <div class="col-md-6">
    <h3>Today's top news from Tech Radar</h3>
      <br>
      <br>
        <ul>
          <li ng-repeat='article in nCtl.articlesTech3'><a href='{{article.url}}'>
          {{article.title}}
          <img src='{{article.urlToImage}}' width="400" height="200"> <br>
          <br>{{article.description}} <br></a> <br>  <br>

          </li>
        </ul>
      </div>
    </div>
  </div>
